h1 {
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Inter';
    overflow: hidden;
    white-space: nowrap;
    margin: 20 auto;
    letter-spacing: .05em;
    animation: 
      typing 2.5s steps(20, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 43% }
    }
      
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
    }
    
    .float {
        animation: floatUpDown 3s infinite alternate;
      }
    
      @keyframes floatUpDown {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-10px);
        }
      }